<template>
  <v-container style="min-height: 80vh">
    <v-row justify="center">
      <v-col
        cols="12"
        lg="4"
      >
        <base-material-C3
          color="#F06292"
          :handler="airTemprature"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Temprature
          </h3>

          <p class="d-inline-flex font-weight-light ml-2 mt-1">
            <v-icon
              color="green"
              small
            >
              mdi-arrow-up
            </v-icon>
            <span class="green--text">55%</span>&nbsp;
            increase in today's sales
          </p>

          <template v-slot:actions>
            <v-icon
              class="mr-1"
              small
            >
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">campaign sent 26 minutes ago</span>
          </template>
        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
      >
        <base-material-C3
          color="#FF8F00"
          :handler="airHumidity"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Humidity
          </h3>

          <p class="d-inline-flex font-weight-light ml-2 mt-1">
            <v-icon
              color="green"
              small
            >
              mdi-arrow-up
            </v-icon>
            <span class="green--text">55%</span>&nbsp;
            increase in today's sales
          </p>

          <template v-slot:actions>
            <v-icon
              class="mr-1"
              small
            >
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">campaign sent 26 minutes ago</span>
          </template>
        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
      >
        <base-material-C3
          color="primary"
          :handler="soilMoisture"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Soil Moisture
          </h3>

          <p class="d-inline-flex font-weight-light ml-2 mt-1">
            <v-icon
              color="green"
              small
            >
              mdi-arrow-up
            </v-icon>
            <span class="green--text">55%</span>&nbsp;
            increase in today's sales
          </p>

          <template v-slot:actions>
            <v-icon
              class="mr-1"
              small
            >
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">campaign sent 26 minutes ago</span>
          </template>
        </base-material-C3>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="12"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              {{`Data Log ${device.lable}`}}
            </div>
          </template>

          <v-card-text>
            <v-data-table
              :headers="header"
              :items="device.deviceLogs"
            >
            <template v-slot:top>
              <v-row>
                <v-col
                  cols="12"
                  lg="3"
                >
                  <v-menu
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date"
                        label="Cari tanggal"
                        prepend-inner-icon="mdi-calendar"
                        readonly
                        clearable
                        @click:clear="date = null; filterByDate()"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      style="margin:0"
                      v-model="date"
                      @input="dateMenu = false; filterByDate()"
                    >
                      </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </template>

            <template v-slot:item.device_status="{ item }">

              <v-chip
                v-if="item.device_status == 1"
                class="ma-2"
                color="success"
              >
                Success
              </v-chip>
              <v-chip
                v-else
                class="ma-2"
                color="error"
              >
                Error
              </v-chip>
            </template>
            </v-data-table>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
  import moment from 'moment'
  import Vue from 'vue'
  const header = [
    {
      sortable: true,
      text: 'Time',
      value: 'time',
    },
    {
      sortable: true,
      text: 'Air Temprature',
      value: 'air_temprature_value',
    },
    {
      sortable: true,
      text: 'Air Humidity',
      value: 'air_humidity_value',
    },
    {
      sortable: true,
      text: 'Soil Moisture',
      value: 'soil_moisture_value',
    },
    {
      sortable: true,
      text: 'Status',
      value: 'device_status',
    },
  ]

  export default {
    data () {
      return {
        airTemprature: new Vue(),
        airHumidity: new Vue(),
        soilMoisture: new Vue(),
        deviceId: this.$route.params.id,
        header,
        date: '',
        dateMenu: false,
      }
    },
    computed: {
      device () {
        const data = this.$store.getters['data/data']
        return data[0]
      },
    },
    watch: {
      device () {
        const source = this.$store.getters['data/data'][0]
        const deviceLogs = source.deviceLogs ? source.deviceLogs : []

        const airTemprature = deviceLogs.map(m => m.air_temprature_value)
        const airHumidity = deviceLogs.map(m => m.air_humidity_value)
        const soilMoisture = deviceLogs.map(m => m.soil_moisture_value)

        const time = deviceLogs.map(m => m.time)
        const lable = source.lable

        this.airTemprature.$emit('dispatch', (chart) => {
          const options = {
            x: 'x',
            columns: [
              ['x', ...time],
              [lable, ...airTemprature],
            ],
          }
          chart.load(options)
        })

        this.airHumidity.$emit('dispatch', (chart) => {
          const options = {
            x: 'x',
            columns: [
              ['x', ...time],
              [lable, ...airHumidity],
            ],
          }
          chart.load(options)
        })

        this.soilMoisture.$emit('dispatch', (chart) => {
          const options = {
            x: 'x',
            columns: [
              ['x', ...time],
              [lable, ...soilMoisture],
            ],
          }
          chart.load(options)
        })
      },
    },
    mounted () {
      this.$socket.emit('data-logs', {
        query: 'ini parameter',
      })
      this.$store.dispatch('data/resetFilter')
      this.fetchData()

      this.initChart()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('data/get', { path: `/devices/${this.deviceId}/log`, filter: { pages: 1, limit: 10 } })
      },
      filterByDate () {
        this.$store.dispatch('data/get', { path: `/devices/${this.deviceId}/log`, filter: { pages: 1, limit: 10, s: moment(this.date).format('M-DD-YYYY') } })
      },
      initChart () {
        const options = {
          size: {
            height: 200,
          },
          grid: {
            x: {
              show: true,
            },
            y: {
              show: true,
            },
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                format: '%H:%M',
              },
            },
          },
          tooltip: {
            format: {
              title: d => {
                return `Jam ${moment(d).format('HH:MM')}`
              },
              value: (value, ratio, id) => {
                return `${value} C`
              },
            },
          },
        }

        const initOptions = {
          ...options,
          data: {
            x: 'x',
            xFormat: '%d-%m-%Y %H:%M:%S',
            columns: [
            ],
          },
        }

        this.airTemprature.$emit('init', initOptions)
        this.airHumidity.$emit('init', initOptions)
        this.soilMoisture.$emit('init', initOptions)
      },
    },
  }
</script>
