<template>
  <v-container style="min-height:80vh">
    <v-row justify="center">
      <v-col
        cols="12"
        lg="10"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Devices
            </div>
          </template>

          <v-card-text>
            <v-data-table
              :headers="header"
              :items="dataDevice"
            >
              <template v-slot:top>
                 <v-row>
                   <v-col
                    cols="12"
                    lg="2"
                   >
                    <v-dialog
                      v-model="dialog"
                      max-width="500px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-on="on"
                          @click="getProfile(); formEdit = {}; formTitle = 'Create New Devices'; newItem = true"
                        >
                          New Devices
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
            
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col
                                cols="12"
                                sm="6"
                                md="6"
                              >
                                <v-text-field
                                  v-model="formEdit.lable"
                                  label="Lable"
                                />
                              </v-col>
                              <v-col
                                cols="12"
                                sm="6"
                                md="6"
                              >
                              <v-select
                                v-model="formEdit.profile_id"
                                :items="petaniList"
                                item-text="nama_lengkap"
                                item-value="id"
                                label="Petani"
                              >

                              </v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
            
                        <v-card-actions>
                          <v-spacer />
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="close"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            v-on="newItem ? { click: () => save() } : { click: () => editedItem() }"
                          >
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col
                    cols="12"
                    lg="3"
                  >
                    <v-text-field
                      label="Cari . . ."
                      prepend-inner-icon="mdi-magnify"
                      v-model="search"
                      clearable
                      @click:clear="resetSearch();fetchData()"
                      @keyup="searchData"
                    />
                  </v-col>

                 </v-row>
                 
                  
              </template>

              <template v-slot:item.lable="{ item }">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <span
                      style="cursor: pointer"
                      v-on="on"
                      @click="deviceLog(item)"
                    >
                        {{item.lable}}
                    </span>
                  </template>
                  <span>
                    <v-icon
                      small
                      color="white"
                    >
                      mdi-arrow-right
                    </v-icon>
                     {{ `Data log ${item.lable}` }}
                  </span>
                </v-tooltip>
              </template>
              
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item); getProfile()"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>

      
              </template>

            </v-data-table>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
    
    <v-dialog
      v-model="deleteDialog"
      max-width="250"
    >
      <v-card>

        <v-card-text>
         Hapus {{deleteList.lable}} ?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="deleteDialog = false"
          >
            CANCEL
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="deletedItem"
          >
            YA
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import dataService from '@/service/data'
  import router from '@/router'

  const header = [
    {
      sortable: false,
      text: 'ID',
      value: 'id',
    },
    {
      sortable: true,
      text: 'Lable',
      value: 'lable',
    },
    {
      sortable: true,
      text: 'Petani',
      value: 'profile.nama_lengkap',
    },
    {
      text: 'Actions',
      value: 'actions',
      sortable: false,
    },
  ]


  export default {
    data () {
      return {
        header,
        deleteDialog: false,
        deleteList: {},
        path: '/devices',
        dialog: false,
        newItem: true,
        formEdit: {},
        formTitle: '',
        petaniList: [],
        search: '',
        timer: null,
      }
    },
    computed: {
      dataDevice () {
        const data = this.$store.getters['data/data']
        return data
      },
    },
    mounted () {
      this.$store.dispatch('data/resetFilter')
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('data/get', { path: this.path })
      },
      editItem (item) {
        this.formEdit = item
        this.newItem = false
        this.formTitle = `Edit ${item.lable}`
        this.dialog = true
      },
      deleteItem (item) {
        this.deleteDialog = true
        this.deleteList = item
      },
      deletedItem () {
        this.deleteDialog = false
        this.$store.dispatch('data/destroy', { path: this.path, filter: { id: this.deleteList.id } }).then(res => {
          this.fetchData()
        })
      },
      editedItem () {
        delete this.formEdit.petani
        this.$store.dispatch('data/edit', { path: this.path, data: this.formEdit, filter: { id: this.formEdit.id } }).then(res => {
          this.fetchData()
          this.dialog = false
        })
      },
      getProfile () {
        dataService.findAll('/profile', {}).then(res => {
          const response = res.data
          this.petaniList = response
        })
      },
      close () {
        this.dialog = false
        this.fetchData()
      },
      save () {
        this.dialog = false
        this.$store.dispatch('data/post', { path: this.path, data: this.formEdit }).then(res => {
          this.fetchData()
        })
      },
      searchData () {
        if (this.timer) {
          clearTimeout(this.timer)
          this.timer = null
        }

        this.timer = setTimeout(() => {
          this.$store.dispatch('data/get', { path: this.path, filter: { s: this.search } })
        }, 2000)
      },
      deviceLog (item) {
        router.push(`/device/${item.id}/log`)
      },
      resetSearch () {
        this.$store.dispatch('data/resetFilter')
      },
    },

  }
</script>
