<template>
  <v-app
    id="inspire"
    :style="customStyle"
  >
    <v-content>
      <base-notif />
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login User</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="username"
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    v-model="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  @click="login"
                >
                  Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>



<script>
  import BaseNotif from '../component/Notif'
  import { mapGetters } from 'vuex'

  export default {
    name: 'LoginPage',
    components: {
      BaseNotif,
    },
    data () {
      return {
        username: null,
        password: null,
        customStyle: {
          backGroundColor: 'red',
        },
      }
    },
    computed: {
      ...mapGetters[{
        token: 'auth/token',
      }],
    },
    methods: {
      login () {
        const data = {
          username: this.username,
          password: this.password,
        }
        
        this.$store.dispatch('auth/login', { data })
      },
    },
  }
</script>

<style scoped>
  body {
    background-color: rebeccapurple;
  }
</style>
