<template>
  <v-container style="min-height:80vh">
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <base-material-card>
          <template v-slot:heading>
              <div class="display-2 font-weight-light">Pengaturan Takaran</div>
          </template>
          <v-card-text>
             <v-data-table
              :headers="header"
              :items="scheduleData"
            >
              <template v-slot:top>
                 <v-row>
                   <v-col
                    cols="12"
                    lg="2"
                   >
                    <v-dialog
                      v-model="dialog"
                      max-width="500px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-on="on"
                          @click="formEdit = {}; formTitle = 'Buat Takaran baru'; newItem = true"
                        >
                          Buat Takaran
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
            
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col
                                cols="12"
                                sm="4"
                                md="4"
                              >
                                <v-text-field
                                  v-model="formEdit.usia"
                                  label="Usia"
                                  type="number"
                                />
                              </v-col>
                              <v-col
                                cols="12"
                                sm="4"
                                md="4"
                              >
                                <v-text-field
                                  v-model="formEdit.volume_air"
                                  label="Volume air"
                                  type="number"
                                />
                              </v-col>
                              <v-col
                                cols="12"
                                sm="4"
                                md="4"
                              >
                                <v-text-field
                                  v-model="formEdit.volume_pupuk"
                                  label="Volume Pupuk"
                                  type="number"
                                />
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
            
                        <v-card-actions>
                          <v-spacer />
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="close"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            v-on="newItem ? { click: () => save() } : { click: () => editedItem() }"
                          >
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                  <v-spacer></v-spacer>

                 </v-row>
              </template>

               <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item);"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>

      
              </template>

               <template v-slot:item.usia="{ item }">
                  {{item.usia}} Hari
              </template>
               <template v-slot:item.volume_air="{ item }">
                  {{item.volume_air}} Liter
              </template>
               <template v-slot:item.volume_pupuk="{ item }">
                  {{item.volume_pupuk}} Liter
              </template>

            </v-data-table>
          </v-card-text>
        </base-material-card>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
      <base-material-card>

          <v-card-text>
             <v-data-table
              :headers="timeHeader"
              :items="dataTime"
            >
              <template v-slot:top>
                 <v-row>
                   <v-col
                    cols="12"
                    lg="2"
                   >
                    <v-dialog
                      v-model="dialogTime"
                      max-width="500px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-on="on"
                          @click="timeEdit = {}; timeTitle = 'Tambah jadwal baru'; newTime = true"
                        >
                          Tambah Jadwal
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ timeTitle }}</span>
                        </v-card-title>
            
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col
                                cols="12"
                              >
                                <v-menu
                                  ref="menu"
                                  v-model="menuTime"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  max-width="290px"
                                  min-width="290px"
                                >

                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="timeEdit.jam"
                                    label="Pilih jam"
                                    class="col-3"
                                    readonly
                                    v-on="on"
                                  />
                                </template>
                                <v-time-picker
                                  v-if="menuTime"
                                  format="24hr"
                                  :allowed-hours="allowedHours"
                                  v-model="timeEdit.jam"
                                  @click:hour="closePicker"
                                />
                                </v-menu>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
            
                        <v-card-actions>
                          <v-spacer />
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="closeDialogTime"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            v-on="newTime ? { click: () => saveTime() } : { click: () => editedTime() }"
                          >
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>

                 </v-row>
              </template>

               <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editTime(item);"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="deleteTime(item)"
                >
                  mdi-delete
                </v-icon>

      
              </template>


            </v-data-table>
          </v-card-text>
      </base-material-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="deleteDialog"
      max-width="250"
    >
      <v-card>

        <v-card-text>
         Hapus {{deleteList.lable}} ?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="deleteDialog = false"
          >
            CANCEL
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="deletedItem"
          >
            YA
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="deleteTimeDialog"
      max-width="250"
    >
      <v-card>

        <v-card-text>
         Hapus {{ timeDelete.jam }} ?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="deleteTimeDialog= false"
          >
            CANCEL
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="deletedTime"
          >
            YA
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

  import dataService from '@/service/data'
  const header = [
    {
      sortable: true,
      text: 'Usia',
      value: 'usia',
    },
    {
      sortable: true,
      text: 'Volume Air',
      value: 'volume_air',
    },
    {
      sortable: true,
      text: 'Volume Pupuk',
      value: 'volume_pupuk',
    },
    {
      text: 'Actions',
      value: 'actions',
      sortable: false,
    },
  ]

  const timeHeader = [
    {
      text: 'Jam',
      value: 'jam',
      sortable: 'true',
    },
    {
      text: '',
      value: 'actions',
      sortable: false,
    },
  ]
  
  export default {
    data () {
      return {
        header,
        timeHeader,
        lable: '',
        dataTime: [],
        newItem: true,
        formTitle: '',
        timeTitle: '',
        newTime: true,
        search: '',
        dialog: false,
        dialogTime: false,
        deleteDialog: false,
        deleteTimeDialog: false,
        formEdit: {},
        menuTime: false,
        timeEdit: {},
        timeDelete: {},
        deleteList: {},
        path: '/schedule',
      }
    },
    computed: {
      scheduleData () {
        return this.$store.getters['data/data']
      },
      // timeEdit,
    },
    mounted () {
      this.$store.dispatch('data/resetFilter')
      this.fetchData()
      this.fetchDataTime()
    },
    watch: {
      search () {
        this.$store.dispatch('data/get', { path: this.path, filter: { s: this.search } })
      },
    },
    methods: {
      fetchData () {
        this.$store.dispatch('data/get', { path: this.path })
      },
      fetchDataTime () {
        dataService.findAll('/time-schedule').then(res => {
          this.dataTime = res.data
        })
      },
      save () {
        this.$store.dispatch('data/post', { path: this.path, data: this.formEdit })
          .then(res => {
            this.fetchData()
            this.dialog = false
          })
      },
      editItem (item) {
        this.formEdit = item
        this.newItem = false
        this.formTitle = 'Edit Takaran'
        this.dialog = true
      },
      editedItem () {
        this.$store.dispatch('data/edit', { path: this.path, data: this.formEdit, filter: { id: this.formEdit.id } })
          .then(res => {
            this.fetchData()
            this.dialog = false
          })
      },
      deleteItem (item) {
        this.deleteDialog = true
        this.deleteList = item
      },
      deletedItem () {
        this.deleteDialog = false
        this.$store.dispatch('data/destroy', { path: this.path, filter: { id: this.deleteList.id } }).then(res => {
          this.fetchData()
        })
      },
      saveTime () {
        if (this.timeEdit.jam) {
          this.$store.dispatch('data/post', { path: '/time-schedule', data: this.timeEdit }).then(res => {
            this.fetchDataTime()
            this.closeDialogTime()
          })
        }
      },
      editTime (item) {
        this.timeEdit = item
        this.newTime = false
        this.timeTitle = 'Edit Time'
        this.dialogTime = true
      },
      editedTime () {
        this.$store.dispatch('data/edit', { path: '/time-schedule', data: this.timeEdit, filter: { id: this.timeEdit.id } })
          .then(res => {
            this.fetchDataTime()
            this.dialogTime = false
          })
      },
      deleteTime (item) {
        this.timeDelete = item
        this.deleteTimeDialog = true
      },
      deletedTime () {
        this.$store.dispatch('data/destroy', { path: '/time-schedule', filter: { id: this.timeDelete.id } })
          .then(res => {
            this.fetchDataTime()
            this.deleteTimeDialog = false
          })
      },
      closeDialogTime () {
        this.dialogTime = false
        this.timeEdit = {}
      },
      closePicker (v) {
        v = v < 10 ? '0' + v : v
        this.timeEdit.jam = v + ':00'
        this.menuTime = false
      },
      allowedHours (v) {
        const data = this.dataTime.map(item => Number(item.jam.split(':')[0]))
        return (!data.find(val => val === v))
      },
      close () {
        this.dialog = false
        this.formEdit = {}
      },
    },
  }
</script>
