<template>
  <v-content>
    <router-view />

    <base-notif />
    <dashboard-core-footer />
  </v-content>
</template>

<script>
  export default {
    name: 'DashboardCoreView',

    components: {
      DashboardCoreFooter: () => import('./Footer'),
      BaseNotif: () => import('../../component/Notif'),
    },
  }
</script>
