<template>
  <v-container style="min-height:80vh">
    <v-row>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
        <base-material-C3
          :handler="airHumidity"
          color="#FF4081"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Humidity
          </h3>

        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
        <base-material-C3
          :handler="airTemprature"
          color="#FF4081"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Temprature
          </h3>

        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
        <base-material-C3
          :handler="soilMoisture"
          color="#FF4081"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Soil Moisture
          </h3>

        </base-material-C3>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        lg="8"
        >
        
          <base-material-card>
            <template v-slot:heading>
              <div class="display-2 font-weight-light">Devices</div>
            </template>
            <v-card-text>
              <v-row>
                <v-col
                  cols="12"
                  lg="3"
                  md="3"
                  class="mr-auto"
                >
                  <v-text-field
                    type="number"
                    label="limit"
                    v-model="dataLimit"
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  lg="3"
                  md="3"
                  class="ml-auto"
                >
                  <v-text-field
                    label="Cari "
                    v-model="search"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-simple-table>
                <thead>
                  <tr>
                    <td
                      v-for="header in headers"
                      :key="header.text"
                      @click="ordered = header.value; orderedType = !orderedType"
                    >{{ header.text }}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in dataDevice.deviceList"
                    :key="item.id"
                  >
                    
                    <td
                      v-for="header in headers"
                      :key="header.text"
                    >
                        <v-tooltip top>
                          <template v-slot:activator="{on}">
                            <span
                              v-on="on"
                              style="cursor: pointer"
                              @click="deviceLogs(item.id)"
                            >
                            {{ item[header.value] }}
                            </span>
                          </template>
                          <span>
                            <v-icon
                              small
                              color="white"
                            >
                              mdi-arrow-right
                            </v-icon>
                              Device Logs
                          </span>
                        </v-tooltip>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-card-text>
            <v-row>
              <v-col
                cols="12"
                lg="6"
                class="mx-auto"
              >
                <v-pagination
                  v-model="page"
                  :length="pageLength"
                ></v-pagination>
              </v-col>
            </v-row>
          </base-material-card>
        </v-col>
        <v-col
          cols="12"
          lg="4"
        >
          <v-row>
            <v-col
              cols="12"
            >
              <base-material-stats-card
                color="info"
                icon="mdi-memory"
                title="Devices"
                :value="countDevice"
                sub-icon="mdi-clock"
                sub-text="Just Updated"
              />
            </v-col>
          </v-row>

        </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import Vue from 'vue'
  import router from '@/router'
  // import moment from 'moment'

  const headers = [
    {
      sortable: true,
      text: 'Device ID',
      value: 'id',
    },
    {
      sortable: true,
      text: 'Device Name',
      value: 'lable',
    },
    
  ]

  export default {
    data () {
      return {
        ordered: '',
        orderedType: true,
        page: 1,
        dataLimit: '',
        search: '',
        airHumidity: new Vue(),
        airTemprature: new Vue(),
        soilMoisture: new Vue(),
        path: '',
        headers,
        id: '',
        profileDevice: [],
        detailDevice: [],
        fieldLable: false,
      }
    },
    computed: {
      dataDevice () {
        const data = this.$store.getters['data/data']
        return data[0]
      },

      pageLength () {
        return Math.ceil(
          this.$store.state.data.count / this.$store.state.data.limit,
        )
      },
      countDevice () {
        return this.$store.state.data.count
      },
    },
    watch: {
      page () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        const filter = {
          limit: getLimit,
          pages: this.page,
          s: this.search,
        }

        if (this.search.length > 0) {
          filter.s = this.search
        }

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      dataLimit () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        this.$store.dispatch('data/setLimit', { limit: getLimit })
        const filter = {
          limit: this.dataLimit,
          pages: 1,
          s: this.search,
        }

        this.page = 1

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      ordered () {
        // console.log(this.ordered)
        // console.log(this.orderedType)
      },

      orderedType () {
        // console.log(this.ordered)
        // console.log(this.orderedType)
      },

      search () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        const filter = {
          limit: getLimit,
          pages: 1,
          s: this.search,
        }

        this.page = 1

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },
    },
    created () {
    },
    mounted () {
      this.id = this.$store.getters['auth/user'].profileId
      this.fetchData()
      this.initSocket()
    },
    beforeDestroy () {
      this.closeSocket()
    },
    methods: {
      initSocket () {
        this.$socket.connect()
        this.sockets.subscribe(`data-petani-dashboard/${this.id}`, (data) => {
          this.airHumidity.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.air_humidity,
            }
            chart.load(options)
          })
          this.airTemprature.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.air_temprature,
            }
            chart.load(options)
          })
          this.soilMoisture.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.soil_moisture,
            }
            chart.load(options)
          })
        })


        this.$socket.emit('init-petani-dashboard', { id: this.id })
        this.sockets.subscribe(`init-petani-dashboard/${this.id}`, data => {
          this.airHumidity.$emit('init', {
            data: {
              xs: data.time,
              columns: data.air_humidity,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })

          this.airTemprature.$emit('init', {
            data: {
              xs: data.time,
              columns: data.air_temprature,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })

          this.soilMoisture.$emit('init', {
            data: {
              xs: data.time,
              columns: data.soil_moisture,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })
        })
      },

      closeSocket () {
        this.sockets.unsubscribe(`data-petani-dashboard/${this.id}`)
        this.sockets.unsubscribe(`init-petani-dashboard/${this.id}`)
        this.$socket.disconnect()
      },

      initChart () {
        
      },

      deviceLogs (id) {
        router.push(`/petani-devices/${id}`)
      },
      
      fetchData () {
        const filter = {
          page: 1,
          limit: 10,
        }

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/dashboard`,
          filter,
        })
      },
    },
  }
</script>
