<template>
  <v-container style="min-height:80vh">
    <v-row>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
      <base-material-C3
          :handler="airHumidity"
          color="#FF4081"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Humidity
          </h3>
        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
      <base-material-C3
          :handler="airTemprature"
          color="#EF5350"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Air Temprature
          </h3>
        </base-material-C3>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        md="4"
      >
      <base-material-C3
          :handler="soilMoisture"
          color="#F57F17"
        >
          <h3 class="card-title font-weight-light mt-2 ml-2">
            Soil Moisture
          </h3>
        </base-material-C3>
      </v-col>
    </v-row>

    
    <v-row justify="center">
      <v-col
      cols="12"
      lg="8"
      >
      
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Data Logs</div>
          </template>
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                lg="3"
                md="3"
                class="mr-auto"
              >
                <v-text-field
                  type="number"
                  label="limit"
                  v-model="dataLimit"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                lg="3"
                md="3"
                class="ml-auto"
              >
                <v-text-field
                  label="Cari "
                  v-model="search"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-simple-table>
              <thead>
                <tr>
                  <td
                    v-for="header in headers"
                    :key="header.text"
                    @click="ordered = header.value; orderedType = !orderedType"
                  >{{ header.text }}</td>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in dataDevice.deviceLogs"
                  :key="item.id"
                >
                  <td
                    v-for="header in headers"
                    :key="header.text"
                  >{{ item[header.value] }}</td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="mx-auto"
            >
              <v-pagination
                v-model="page"
                :length="pageLength"
              ></v-pagination>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
      <v-col
        cols="12"
        lg="4"
      >
        <v-row>
          <v-col cols="12">
            <base-material-card>
              <template v-slot:heading>
                <div class="display-2 font-weight-light">Profile Device</div>
              </template>
              <v-card-text>
                <v-simple-table>
                  <template v-slot:default>
                    <tbody>
                      <tr>
                        <td>Label</td>
                        <td>:</td>
                        <td>{{dataDevice.lable}}</td>
                      </tr>
                      <tr>
                        <td>Device ID</td>
                        <td>:</td>
                        <td>{{ dataDevice.id}}</td>
                      </tr>
                      <tr>
                        <td>Penjadwalan</td>
                        <td>:</td>
                        <td><v-switch v-model="schedule"></v-switch></td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card-text>
            </base-material-card>
          </v-col>
          <v-col cols="12">
            <base-material-card>
              <template v-slot:heading>
               <div class="display-2 font-weight-light">Kotrol Pompa</div>
              </template>
              <v-card-text>
                <v-simple-table width="100%">
                  <template slot="default">
                    <tbody>
                      <tr>
                        <td width="70%">Pompa Air</td>
                        <td>
                          <v-switch
                            v-model="waterPump"
                          ></v-switch>
                        </td>
                        <td>{{waterPump ? 'On' : 'Off'}}</td>
                      </tr>
                      <tr>
                        <td>Pompa pupuk</td>
                        <td>
                          <v-switch
                            v-model="fertilizerPump"
                          ></v-switch>
                        </td>
                        <td>
                          {{fertilizerPump ? 'On' : 'Off'}}
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card-text>
            </base-material-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import Vue from 'vue'
  import dataService from '@/service/data'

  const headers = [
    {
      sortable: true,
      text: 'ID',
      value: 'id',
    },
    {
      sortable: true,
      text: 'Time',
      value: 'time',
    },
    {
      sortable: true,
      text: 'Air Temprature',
      value: 'air_temprature_value',
    },
    {
      sortable: true,
      text: 'Air Humidity',
      value: 'air_humidity_value',
    },
    {
      sortable: true,
      text: 'Soil Moisture',
      value: 'soil_moisture_value',
    },
    {
      sortable: true,
      text: 'Status',
      value: 'device_status',
    },
  ]

  export default {
    data () {
      return {
        schedule: false,
        waterPump: false,
        fertilizerPump: false,
        ordered: '',
        orderedType: true,
        page: 1,
        dataLimit: '',
        search: '',
        airHumidity: new Vue(),
        airTemprature: new Vue(),
        soilMoisture: new Vue(),
        path: `/petani/device/${this.$route.params.id}`,
        headers,
        id: this.$route.params.id,
        profileDevice: [],
        detailDevice: [],
        fieldLable: false,
      }
    },
    computed: {
      dataDevice () {
        const data = this.$store.getters['data/data']
        return data[0]
      },

      pageLength () {
        return Math.ceil(
          this.$store.state.data.count / this.$store.state.data.limit,
        )
      },
    },
    watch: {
      page () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        const filter = {
          limit: getLimit,
          pages: this.page,
          s: this.search,
        }

        if (this.search.length > 0) {
          filter.s = this.search
        }

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      dataLimit () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        this.$store.dispatch('data/setLimit', { limit: getLimit })
        const filter = {
          limit: this.dataLimit,
          pages: 1,
          s: this.search,
        }

        this.page = 1

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      ordered () {
        // console.log(this.ordered)
        // console.log(this.orderedType)
      },

      orderedType () {
        // console.log(this.ordered)
        // console.log(this.orderedType)
      },

      search () {
        const getLimit = this.dataLimit > 0 ? this.dataLimit : 10
        const filter = {
          limit: getLimit,
          pages: 1,
          s: this.search,
        }

        this.page = 1

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      waterPump () {
        const data = {
          waterValue: this.waterPump ? 1 : 0,
          fertilizerValue: this.fertilizerPump ? 1 : 0,
        }
        
        dataService.edit(`/petani/water-pump/${this.id}/controll`, data)
      },

      fertilizerPump () {
        const data = {
          waterValue: this.waterPump ? 1 : 0,
          fertilizerValue: this.fertilizerPump ? 1 : 0,
        }
        
        dataService.edit(`/petani/water-pump/${this.id}/controll`, data)
      },

      schedule () {
        // const data = this.mode ? 1 : 0
        const data = this.schedule ? 1 : 0
        dataService.findOne(`petani/schedule/${this.id}/${data}`)
      },
    },
    created () {
    },
    mounted () {
      this.fetchData()
      this.initSocket()
      dataService.findAll(`/petani/${this.id}/device`).then(res => {
        // const resData = res.data[0].mode === 1 ? true : false
        this.schedule = res.data[0].mode === 1
      })
    },
    beforeDestroy () {
      this.closeSocket()
    },
    methods: {
      fetchData () {
        const filter = {
          page: 1,
          limit: 10,
        }

        this.$store.dispatch('data/get', {
          path: `/petani/${this.id}/device`,
          filter,
        })
      },

      initSocket () {
        this.$socket.connect()
        this.sockets.subscribe(`data-log/${this.id}`, (data) => {
          this.airHumidity.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.air_humidity,
            }
            chart.load(options)
          })
          this.airTemprature.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.air_temprature,
            }
            chart.load(options)
          })
          this.soilMoisture.$emit('dispatch', (chart) => {
            const options = {
              xs: data.time,
              columns: data.soil_moisture,
            }
            chart.load(options)
          })
        })


        this.$socket.emit('init-data', { id: this.id })
        this.sockets.subscribe(`init-data/${this.id}`, data => {
          this.airHumidity.$emit('init', {
            data: {
              xs: data.time,
              columns: data.air_humidity,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })

          this.airTemprature.$emit('init', {
            data: {
              xs: data.time,
              columns: data.air_temprature,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })

          this.soilMoisture.$emit('init', {
            data: {
              xs: data.time,
              columns: data.soil_moisture,
              xFormat: '%d-%m-%Y %H:%M:%S',
            },
            size: {
              height: 200,
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: ' %H:%M',
                },
              },
            },
          })
        })
      },

      closeSocket () {
        this.sockets.unsubscribe(`data-log/${this.id}}`)
        this.sockets.unsubscribe(`init-data/${this.id}`)
        this.$socket.disconnect()
      },

      pumpControll () {
        this.mode = !this.mode
        // console.log(this.mode)
      },

      updateWaterPump () {
        const data = {
          waterValue: this.waterPump ? 1 : 0,
          fertilizerValue: this.fertilizerPump ? 1 : 0,
        }
        
        dataService.edit(`/water-pump/${this.id}/controll`, data)
      },

    },
  }
</script>
