<template>
<v-container style="min-height:80vh">
    <v-row justify="center">
        <v-col
            cols="12"
            md="6"
        >
            <base-material-card>
                <template v-slot:heading>
                    <div class="display-2 font-weight-light">Profile</div>
                </template>
                <v-card-text>
                    <v-row>
                        <v-col
                            cols="12"
                            md="8"
                        >
                            <v-text-field
                                label="Nama Lengkap"
                                v-model="userData.profile.nama_lengkap"
                            />
                            <v-text-field
                                label="No Tlp"
                                v-model="userData.profile.no_tlp"
                            />
                            <v-text-field
                                label="Alamat"
                                v-model="userData.profile.alamat"
                            />
                        </v-col>
                    </v-row>
                </v-card-text>
            </base-material-card>
        </v-col>
        <v-col
            cols="12"
            md="6"
        >
            <base-material-card>
                <template v-slot:heading>
                    <div class="display-2 font-weight-light">Account</div>
                </template>
                <v-card-text>
                    <v-row>
                        <v-col
                            cols="12"
                            md="6"
                        >
                            <v-text-field
                                label="Username"
                                v-model="userData.username"
                            />
                            <v-text-field
                                label="Password Lama"
                                v-model="userData.password"
                            />
                        </v-col>
                        <v-col
                            cols="12"
                            md="6"
                        >
                            <v-text-field
                                label="Email"
                                v-model="userData.email"
                            />
                            <v-text-field
                                label="Password Baru"
                                v-model="userData.confirmPass"
                            />
                        </v-col>
                    </v-row>
                    <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          @click="updateData()"
                        >
                         Simpan Perubahan
                    </v-btn>
                </v-card-text>
            </base-material-card>
        </v-col>
    </v-row>
</v-container>
</template>


<script>

  export default {
    data () {
      return {
        id: '',
      }
    },
    computed: {
      userData () {
        const data = this.$store.getters['data/data'][0]
        return data
      },
    },
    mounted () {
      this.id = this.$store.getters['auth/user'].profileId
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('data/get', { path: `/userprofile/${this.id}` })
      },
      updateData () {
        const dataSend = {
          username: this.userData.username,
          email: this.userData.email,
          password: this.userData.password,
          nama_lengkap: this.userData.profile.nama_lengkap,
          alamat: this.userData.profile.alamat,
          no_tlp: this.userData.profile.no_tlp,
        }
        this.$store.dispatch('data/edit', { path: '/profile', data: dataSend, filter: { id: this.id } }).then(res => {
          this.fetchData()
        })
      },
    },
  }
</script>
