<template>
  <base-material-card
    class="v-card--material-c3"
    v-bind="$attrs"
  >
    <template
      v-slot:heading
      style="height: 150px;"
    >
      <div
        ref="c3CardHeading"
        class="c3-heading"
      >
        <vue-c3
          :handler="handler"
        />
      </div>
    </template>

    <slot
      slot="reveal-actions"
      name="reveal-actions"
    />

    <slot />

    <slot
      slot="actions"
      name="actions"
    />
  </base-material-card>
</template>


<script>
  import VueC3 from 'vue-c3'
  
  

  export default {
    name: 'MaterialC3',
    props: {
      handler: {
        type: Object,
        default: Object,
      },
    },
    components: {
      VueC3,
    },

    data () {
      return {
      }
    },
    mounted () {
      // to init the graph call:
    },
  }
</script>



<style lang="sass" scope>
.v-card--material-c3
  p

    .v-card--material__heading
      height: 185px
      padding: 0
      margin: 0

.c3-tooltip td
  color: #222


</style>
