<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="11"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Petani
            </div>
          </template>

          <v-card-text>
            <v-data-table
              :headers="header"
              :items="dataDevice"
            >
              <template v-slot:top>
                 <v-row>
                   <v-col
                    cols="12"
                    lg="2"
                   >
                    <v-dialog
                      v-model="dialog"
                      max-width="40%"
                    >
                      <template v-slot:activator="{ on }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-on="on"
                          @click="formEdit = {}; formTitle = 'Tambah Petani'; newItem = true; formData = {}"
                        >
                         Tambah Petani
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
            
                        <v-card-text>
                            <v-stepper
                                v-model="e6"
                            >
                                <v-stepper-header>

                                    <v-stepper-step
                                        :complete="e6 > 1"
                                        step="1"
                                    >
                                        User Akun
                                    </v-stepper-step>
                                        <v-stepper-step
                                        :complete="e6 > 2"
                                        step="2"
                                    >
                                        Biodata
                                    </v-stepper-step>
                                    
                                </v-stepper-header>
                                <v-stepper-items>
                                    <v-stepper-content step="1">
                                      <v-form
                                        ref="formUser"
                                        lazy-validation
                                        v-model="userValid"
                                      >
                                        <v-row>
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="Username"
                                            v-model="formData.username"
                                            :rules="[() => !!formData.username || 'tidak boleh kosong']"
                                          />
                                          </v-col>
                                          <v-spacer />
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="Email"
                                            v-model="formData.email"
                                            :rules="[
                                              () => !!formData.email || 'tidak boleh kosong',
                                              rules.emailValid
                                              
                                            ]"
                                          />
                                          </v-col>
                                        </v-row>
                                        <v-row v-if="newItem">
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="Password"
                                            type="password"
                                            v-model="formData.password"
                                            :rules="[() => !!formData.password || 'tidak boleh kosong', () => (!!formData.password && formData.password.length >= 8) || 'minimal 8 karakter']"
                                          />
                                          
                                          </v-col>
                                          <v-spacer />
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="confirm Password"
                                            type="password"
                                            v-model="formData.passwordConfirm"
                                            :rules="[() => !!formData.passwordConfirm || 'tidak boleh kosong', () => formData.passwordConfirm === formData.password || 'password harus sama']"
                                          />
                                          </v-col>
                                        </v-row>
                                        <v-row v-else>
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="Ganti Password"
                                            type="password"
                                            v-model="formData.password"
                                            :rules="[(v) => (!v || v.length >= 8) || 'minimal 8 huruf']"
                                          />
                                          
                                          </v-col>
                                          <v-spacer />
                                          <v-col
                                            cols="12"
                                            lg="5"
                                          >
                                          <v-text-field
                                            class="mt-2"
                                            label="confirm Password"
                                            type="password"
                                            v-model="formData.passwordConfirm"
                                            :rules="[() => formData.passwordConfirm === formData.password || 'password harus sama']"
                                          />
                                          </v-col>
                                        </v-row>
                                      </v-form>
                                        <v-divider class="mt-5 mb-3"></v-divider>
                                        <v-row>
                                          <v-col>
                                            <v-btn
                                                text
                                                @click="close();e6=1"
                                            >
                                                Cancel
                                            </v-btn>
                                            <v-btn
                                                color="primary"
                                                :disabled="!userValid"
                                                @click="formUserValid('formUser')"
                                            >
                                                Continue
                                            </v-btn>

                                          </v-col>
                                        </v-row>
                                    </v-stepper-content>

                                    

                                    <v-stepper-content step="2">
                                    <v-form
                                      v-model="bioValid"
                                      ref="formBiodata"
                                      lazy-validation
                                    >
                                      <v-row>
                                        <v-col
                                          cols="12"
                                          lg="5"
                                        >
                                          <v-text-field
                                            label="Nama"
                                            v-model="formData.nama_lengkap"
                                            :rules="[rules.requaired, (v) => /^[a-zA-Z ]*$/.test(v) || 'harus berupa huruf alphabet', (v) => (v && v.length >= 4) || 'minimla 4 karakter']"
                                          />
                                        </v-col>
                                        <v-spacer />
                                        <v-col
                                          cols="12"
                                          lg="5"
                                        >
                                          <v-text-field
                                            label="No. Tlp"
                                            v-model="formData.no_tlp"
                                            :rules="[rules.requaired, (v) => Number.isInteger(Number(v)) || 'harus berupa angka', (v) => (v && v.length >= 10) || 'minimla 10 karakter']"
                                          />
                                        </v-col>

                                      </v-row>
                                      <v-row>
                                        <v-col
                                          cols="12"
                                          lg="5"
                                        >
                                          <v-text-field
                                            label="alamat"
                                            v-model="formData.alamat"
                                            :rules="[rules.requaired, (v) => (v && v.length >= 8) || 'minimla 8 karakter']"
                                          />
                                        </v-col>
                                      </v-row>
                                    </v-form>
                                    <v-divider />
                                    <v-row>
                                      <v-col>
                                        <v-btn
                                            text
                                            @click="close();e6=1"
                                        >
                                          Cancel
                                        </v-btn>
                                        <v-btn
                                            text
                                            @click="e6=1"
                                            color="warning"
                                        >
                                          Prev
                                        </v-btn>
                                        <v-btn
                                            color="primary"
                                            :disabled="!bioValid"
                                            v-on="newItem ? {click: () => save()} : {click: () => editedItem()}"
                                        >
                                            Save
                                        </v-btn>
                                      </v-col>
                                    </v-row>
                                    </v-stepper-content>
                                </v-stepper-items>
                            </v-stepper>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col
                    cols="12"
                    lg="3"
                  >
                    <v-text-field
                      label="Cari . . ."
                      prepend-inner-icon="mdi-magnify"
                      v-model="search"
                      @keyup="searchData"
                    />
                  </v-col>

                 </v-row>
                 
                  
              </template>

              
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>

      
              </template>

            </v-data-table>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
    
    <v-dialog
      v-model="deleteDialog"
      max-width="250"
    >
      <v-card>

        <v-card-text>
         Hapus {{deleteList.lable}} ?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="deleteDialog = false"
          >
            CANCEL
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="deletedItem"
          >
            YA
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import dataService from '@/service/data'
  // import router from '@/router'

  const rules = {
    emailValid: (v) => {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return pattern.test(v) || 'email tidak valid'
    },
    requaired: (v) => !!v || 'tidak boleh kosong',
  }

  const header = [
    {
      sortable: true,
      text: 'Nama Petani',
      value: 'nama_lengkap',
    },
    {
      sortable: true,
      text: 'No. Tlp',
      value: 'no_tlp',
    },
    {
      sortable: true,
      text: 'Alamat',
      value: 'alamat',
    },
    {
      text: 'Actions',
      value: 'actions',
      sortable: false,
    },
  ]


  export default {
    data () {
      return {
        header,
        deleteDialog: false,
        deleteList: {},
        path: '/profile',
        dialog: false,
        newItem: true,
        formTitle: '',
        formData: {},
        userValid: true,
        bioValid: true,
        search: '',
        timer: null,
        e6: 1,
        rules,
      }
    },
    computed: {
      dataDevice () {
        const data = this.$store.getters['data/data']
        return data
      },
    },
    mounted () {
      this.$store.dispatch('data/resetFilter')
      this.fetchData()
      // console.table(this.dataTable)
    },
    methods: {
      fetchData () {
        this.$store.dispatch('data/get', { path: this.path })
      },
      editItem (item) {
        this.newItem = false
        this.formData = item
        dataService.findAll(`${this.path}/${item.id}/users`).then(res => {
          Object.assign(this.formData, res.data[0])
          this.formTitle = `Edit ${item.nama_lengkap}`
          this.dialog = true
        })
        // console.log(this.formData)
      },
      editedItem () {
        if (this.formUserValid('formBiodata')) {
          this.$store.dispatch('data/edit', { path: `${this.path}`, data: this.formData, filter: { id: this.formData.id } }).then(res => {
            this.fetchData()
            this.dialog = false
          })
        }
        // console.log(this.formData)
      },
      deleteItem (item) {
        this.deleteDialog = true
        this.deleteList = item
      },
      deletedItem () {
        this.deleteDialog = false
        this.$store.dispatch('data/destroy', { path: this.path, filter: { id: this.deleteList.id } }).then(res => {
          // console.log(res)
          this.fetchData()
        })
      },
      close () {
        this.dialog = false
        this.fetchData()
        this.resetForm()
      },
      save () {
        this.dialog = false
        this.$store.dispatch('data/post', { path: this.path, data: this.formData }).then(res => {
          this.fetchData()
          this.resetForm()
        })
      },
      searchData () {
        if (this.timer) {
          clearTimeout(this.timer)
          this.timer = null
        }

        this.timer = setTimeout(() => {
          this.$store.dispatch('data/get', { path: this.path, filter: { s: this.search } })
        }, 2000)
      },
      formUserValid (ref) {
        const isValid = this.$refs[ref].validate()
        if (isValid) {
          if (this.e6 > 1) {

          } else {
            this.e6 += 1
          }
        }
        return isValid
      },
      resetForm () {
        this.formData = {}
      },
    },

  }
</script>
