<template>
  <v-container
    style="min-height:80vh"
    id="dashboard"
    fluid
    tag="section"
  >
    <v-row>



      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="info"
          icon="mdi-memory"
          title="Devices"
          value="1"
        />
      </v-col>


      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="orange"
          icon="mdi-nature-people"
          title="Petani"
          value="2"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import Vue from 'vue'
  import moment from 'moment'

  export default {
    name: 'DashboardDashboard',
    data () {
      return {
        soilMoisture: new Vue(),
        airHumidity: new Vue(),
        handler: new Vue(),
      }
    },
    computed: {
      air_temprature () {
        return {
          data: {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/air_temprature'],
            xFormat: '%d-%m-%Y %H:%M:%S',
          },
          size: {
            height: 200,
          },
          grid: {
            x: {
              show: true,
            },
            y: {
              show: true,
            },
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                format: ' %H:%M',
              },
            },
          },
          tooltip: {
            format: {
              title: d => {
                return `Jam ${moment(d).format('HH:MM')}`
              },
              value: (value, ratio, id) => {
                return `${value} C`
              },
            },
          },
        }
      },
      soil_moisture () {
        return {
          data: {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/soil_moisture'],
            xFormat: '%d-%m-%Y %H:%M:%S',
          },
          size: {
            height: 200,
          },
          grid: {
            x: {
              show: true,
            },
            y: {
              show: true,
            },
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                format: ' %H:%M',
              },
            },
          },
          tooltip: {
            format: {
              title: d => {
                return `Jam ${moment(d).format('HH:MM')}`
              },
              value: (value, ratio, id) => {
                return `${value} C`
              },
            },
          },
        }
      },
      air_humidity () {
        return {
          data: {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/air_humidity'],
            xFormat: '%d-%m-%Y %H:%M:%S',
          },
          size: {
            height: 200,
          },
          grid: {
            x: {
              show: true,
            },
            y: {
              show: true,
            },
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                format: ' %H:%M',
              },
            },
          },
          tooltip: {
            format: {
              title: d => {
                return `Jam ${moment(d).format('HH:MM')}`
              },
              value: (value, ratio, id) => {
                return `${value} C`
              },
            },
          },
        }
      },
    },
    watch: {
      air_temprature () {
        this.handler.$emit('dispatch', (chart) => {
          const options = {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/air_temprature'],
          }
          chart.load(options)
        })
      },
      air_humidity () {
        this.airHumidity.$emit('dispatch', (chart) => {
          const options = {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/air_humidity'],
          }
          chart.load(options)
        })
      },
      soil_moisture () {
        this.soilMoisture.$emit('dispatch', (chart) => {
          const options = {
            xs: this.$store.getters['chart/time_chart'],
            columns: this.$store.getters['chart/soil_moisture'],
          }
          chart.load(options)
        })
      },
    },
    mounted () {
      this.$socket.emit('data_dahsboard')
      // this.$store.dispatch('notif/success', { text: 'login success' })
      this.handler.$emit('init', this.air_temprature)
      this.airHumidity.$emit('init', this.air_humidity)
      this.soilMoisture.$emit('init', this.soil_moisture)
      setTimeout(() => {
        this.handler.$emit('dispatch', (chart) => chart.resize())
      }, 500)

      // console.log(this.air_temprature)
    },
    beforeDestroy () {
      
    },
    methods: {
      complete (index) {
        this.list[index] = !this.list[index]
      },
      
      fetchData (options, data) {
        options.data = data
        return options
      },
    },
  }
</script>
