<template>
  <v-container></v-container>
</template>
<script>
  import router from '@/router'

  export default {
    data () {
      return {}
    },
    mounted () {
      const rules = this.$store.getters['auth/rule']
      if (rules === 'admin') {
        router.push('/dbadmin')
      } else if (rules === 'petani') {
        router.push('/petani-dashboard')
      } else {
        this.$store.dispatch('auth/logout')
      }
    },
    methods: {},
  }
</script>
