<template>
  <base-material-snackbar
    id="base-notif"
    v-model="snackbar"
    :type="color"
    :top="top"
  >
    <span>{{ text }}</span>
  </base-material-snackbar>
</template>


<script>
  import { mapState } from 'vuex'

  export default {
    name: 'BaseNotif',
    data () {
      return {
        top: true,
      }
    },
    computed: {
      ...mapState({
        color: state => state.notif.color,
        text: state => state.notif.text,

      }),
      snackbar: {
        get () {
          return this.$store.getters['notif/snackbar']
        },
        set (val) {
          setTimeout(() => {
            this.$store.dispatch('notif/snackbar', { val })
          }, 500)
        },
      },


    },
  }
</script>
